@font-face {
    font-family: ProximaNova;
    src: url("../../../public/fonts/proximanova_light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: ProximaNova;
    src: url("../../../public/fonts/proximanova_regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url("../../../public/fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url("../../../public/fonts/proximanova_bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url("../../../public/fonts/proximanova_extrabold.otf") format("opentype");
    font-weight: 800;
}
