@import "./variables/global";
@import "reset";
@import "fonts";

body {
    font: var(--font-m);
    letter-spacing: 0.0233rem;
}

.app {
    background: var(--bg-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    min-width: 1529px;
    max-width: 1529px;
    min-height: 100vh;
    max-height: 100%;
}

.content-page {
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);
    background: #fff;
    border-radius: 56px;
    position: relative;
    min-height: 100vh;
    max-height: 100%;
}

.page-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
