.TableItem {
    border-collapse: collapse;
    position: relative;
}

th, td {
    border: 1.5px solid #F8F8F8;
    padding: 10px 17px 10px 17px;
    white-space: nowrap;
    border-left: 0;
}

th {
    border-top: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #54D3C2;
    text-align: start;
}

td {
    font-weight: 600;
    font-size: 12px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #6D7986;
    height: 50px;
}

.thCenter {
    text-align: center;
}
