.EditMode {
    width: 198px;
    height: 48px;
    border: 1.5px solid #54d3c2;
    border-radius: 24px;
    background: inherit;
    color: #54d3c2;
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -0.56px;
    position: absolute;
    right: 35px;
    cursor: pointer;

    &.open {
        background-color: #54d3c2;
        color: white;
    }

    transition: background-color 0.3s;
}
