.MenuItem {
    color: #d2d1d1;
    font-weight: 600;
    margin-right: 40px;
    cursor: pointer;
    user-select: none;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        position: relative;
        color: #323f47;
        font-weight: 700;
        padding-bottom: 9.5px;

        &::after {
            content: "";
            display: block;
            position: relative;
            top: 13px;
            border-bottom: 4.5px solid #54d3c2;
            border-radius: 5px;
        }
    }
}
