.Menu {
    display: flex;
    align-items: center;
}

.wrapper {
    margin-left: 40px;
    width: 752px;
    overflow: hidden;
}

.menuList {
    list-style-type: none;
    display: flex;
    border-bottom: 1.5px solid #D2D1D1;
    width: 844px;
    height: 40px;
    position: relative;
    right: 0;
}
