.Menu {
    display: flex;
    align-items: center;
}

.wrapper {
    margin-left: 40px;
    width: 752px;
    overflow: hidden;
    height: 45px;
}

.menuList {
    list-style-type: none;
    display: flex;
    border-bottom: 1.5px solid #d2d1d1;
    width: 844px;
    height: 40px;
    position: relative;
    right: 0;
    transition: right 0.2s;
}
