.EmployerSearch {
    margin-left: 39px;
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-radius: 24px;
    width: 360px;
    height: 48px;
}

.input {
    background: inherit;
    border: none;
    outline: none;
    margin-left: 9px;
    width: 80%;
}

.icon {
    margin-left: 22px;
}
