.Table {
    border-collapse: collapse;
    position: relative;
}

tbody {
    tr {
        &:nth-child(2n+1) {
            background: rgba(248, 248, 248, 0.5);
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    flex-grow: 1;
}

.info {
    display: flex;
    padding-bottom: 26px;
    padding-top: 40px;
    top: -40px;
    position: relative;
}

.scroll {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 26px;
    padding-top: 40px;
    top: -40px;
    position: relative;

    th, td {
        &:last-child {
            border-right: 0;
        }
    }

    tbody {
        tr {
            &:nth-child(2n) {
                background: rgba(229, 248, 246, 0.5);
            }
        }
    }
}

.hoverable {
    &:hover {
        cursor: default;
        color: #54D3C2;
    }
}
