.TableItem {
    border-collapse: collapse;
    position: relative;
}

th, td {
    border: 1.5px solid #F8F8F8;
    padding: 10px 17px 10px 17px;
    white-space: nowrap;
    border-left: 0;
}

th {
    border-top: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #54D3C2;
    text-align: start;
}

td {
    padding: 1px 17px 2px 17px;
    font-weight: 600;
    font-size: 12px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #6D7986;
    height: 50px;
}

.thCenter {
    text-align: center;
}

.sortable {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.icon {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 8px;

    &.open {
        rotate: 180deg;
        transition: rotate 0.2s;
    }

    &.close {
        rotate: 0deg;
        transition: rotate 0.2s;
    }
}

